<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.facebook.testcases.Listeners" />
	</listeners>

	<test name="Validating Page Title">
		<classes>
			<class name="com.facebook.testcases.PageTitleValidation" />
			<class name="com.facebook.testcases.HomePageTextValidation" />
			<class name="com.facebook.testcases.LoginError" />
			<class name="com.facebook.testcases.ForgotPassword" />
			<class name="com.facebook.testcases.Login" />
			
		</classes>
	</test>


	<!-- Test -->
</suite> <!-- Suite -->
